<app-background-video></app-background-video>
<div id="wrapper" class="animate__animated animate__fadeInDown">
    <div id="box">
        <div id="top_header">
            <h3>Forgot Password </h3>
            <div style="display: flex; width: 100%; justify-content: center;">
              <img src="assets/load.gif" style="height: 50px;width: 50px; display: none;" id="loadIcon" alt="">
            </div>
            <h5>Please Enter Your Email Adresse.</h5>
        </div>
        
      
      <div id="inputs">
        <form id='login' action='' #f="ngForm" method='post' accept-charset='UTF-8' style="margin-left:6px;">
      
      <input type='hidden' name='submitted' id='submitted' value='1'/>

      <div class='container'>
        <input type='email' name='email' id='username' value='' maxlength="50" size="30" placeholder="email" #emailUser="ngModel" [(ngModel)]="email" required email /><br/>
        <p style="font-size: 12px; text-align: center ; color: rgb(255, 145, 145);" *ngIf="emailUser.errors?.['required'] && emailUser.touched && !valid">Please Insert This Field</p>
        <p style="font-size: 12px; text-align: center ; color: rgb(255, 145, 145);" *ngIf="emailUser.errors?.['email'] && emailUser.touched !valid">Please Insert An Email Adresse</p>
      </div>
      
      
      <div class='container'>
        <input type='button' name='Submit' value='Send'  (click)="forgotPassword()"  />
        <p style="font-size: 12px; text-align: center ; color: rgb(255, 145, 145); margin-top: 20px; display: none;" id="checkLogin" >Please check Your Email Or Password</p>

      </div>

    </form>

   

      </div>
    </div>
  </div>
